body {
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: whitesmoke;
  background: rgb(18,17,23);
  background: linear-gradient(90deg, #0A0B14 0%, #131726 50%, #1B2238 100%);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  color: whitesmoke;
}

.proj-container {
  text-align: center;
  background: #0A0B14;
}

.image-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background: #0A0B14;
  border: 1px solid #1B2238;
  border-radius: 10px;
}

.text-container {
  color: whitesmoke;
  background: #1B2238;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1em;
  border-radius: 10px;
}

.text-container p {
  font-size: 1.1em;
  line-height: 1.6;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  max-height: 500px; 
  width: auto;
  height: auto;
  object-fit: contain; 
  border-radius: 10px;
  transition: all 0.3s ease;
}

.stack-section {
  padding: 40px 20px;
}

.proj-container h2 {
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  margin: 20px 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.tech-stack {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.tech-stack p {
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 30px;
  border-radius: 15px;
  color: #fff;
  font-size: 1.3em;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.tech-stack p:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.purpose,
.process {
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  line-height: 1.8;
  color: #e0e0e0;
  font-size: 1.2em;
  margin: 30px 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.purpose:hover,
.process:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.purpose p,
.process p {
  margin: 0;
}

.main-header {
  height: 100vh;
  background: url('Images/headerback.jpg') no-repeat center center/cover;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.oll-header {
  height: 100vh;
  background: url('Images/rubixicon.webp') no-repeat center center/cover;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.oll-header .name {
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: -10px;
  z-index: 2;
  animation: fadeInDown 1.5s ease-out;
  color: white;
  background: rgba(10, 11, 20, 0.36);
}

.oll-header .tagline {
  font-size: 1.8em;
  color: white;
  margin-top: 10px;
  z-index: 2;
  animation: fadeInUp 1.5s ease-out;
  background: rgba(10, 11, 20, 0.36);
}

.main-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: whitesmoke;
}

.main-header .name {
  font-size: 4.5em;
  font-weight: bold;
  margin-bottom: -10px;
  z-index: 2;
  animation: fadeInDown 1.5s ease-out;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.main-header .tagline {
  font-size: 1.8em;
  color: whitesmoke;
  margin-top: 10px;
  z-index: 2;
  animation: fadeInUp 1.5s ease-out;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.main-header img {
  width: 120px;
  height: 120px;
  border-radius: 25%;
  border: 3px solid whitesmoke;
  z-index: 2;
  animation: fadeIn 2s ease-out;
}

.main-content {
  position: relative;
  z-index: 1;
  background: whitesmoke;
  padding-top: 50px;
  transition: transform 0.8s ease-in-out;
}

.navbar {
  background: #0A0B14;
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 15px;
  border: 1px solid transparent;
  transition: all 0.3s;
  border-radius: 0px;
}

.nav-links a:hover {
  background: #1B2238;
  color: whitesmoke;
  border: 1px solid #243049;
}

.about-section {
  padding: 50px 0;
}

.about-card {
  background: rgba(10, 11, 20, 0.9);
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #1B2238;
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.about-card p {
  font-size: 1.4em;
  color: whitesmoke;
  line-height: 1.8;
}

.button-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  gap: 5px; 
  margin-top: 0px; 
}

.btn, .gitbutton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background: #1B2238;
  color: whitesmoke;
  text-decoration: none;
  border-radius: 0px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 48px;
  width: 85px;
  font-size: 1em;
  overflow: hidden;
}

.btn:hover, .gitbutton:hover {
  background-color: #243049;
  color: whitesmoke;
  border: 2px solid #1B2238;
  transform: scale(1.05);
}

.gitbutton svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  fill: whitesmoke;
  margin-right: 0px;
}

.gitbutton:hover svg {
  fill: whitesmoke;
}

.projects-section {
  text-align: center;
  color: whitesmoke;
  padding: 30px 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.other-pages {
  text-align: center;
}

.card {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #0A0B14;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  border: 1px solid #1B2238;
  background: #0A0B14;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card__content {
  transform: rotateX(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 1.2em;
  color: #35426d;
  background: rgba(26, 19, 56, 0.3);
  font-weight: 700;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  filter: blur(0);
  z-index: 0;
  transition: filter 0.3s ease;
}

.card:hover::before {
  filter: blur(8px);
}

.card-1 {
  background-image: url('Images/Screenshot 2025-02-02 213016.png');
}

.card-2 {
  background-image: url('Images/rubixicon.webp');
}

.footer {
  background: #0A0B14;
  color: whitesmoke;
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid #1B2238;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contacts .social-link1, .contacts .social-link2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
}

.contacts .social-link1:hover {
  background-color: #1B2238;
  animation: bounce_613 0.4s linear;
}

.contacts .social-link2:hover {
  background-color: #243049;
  animation: bounce_613 0.4s linear;
}

.contacts svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@media (min-width: 768px) {
  .main-header .name {
    font-size: 5.2em;
  }

  .main-header .tagline {
    font-size: 2em;
  }

  .main-header img {
    width: 150px;
    height: 150px;
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-card {
    padding: 50px;
  }

  .tech-stack {
    flex-direction: column;
    align-items: center;
  }
  .about-card p {
    font-size: 1.6em;
  }

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .card {
    height: 200px;
  }

  .card__title {
    font-size: 1.8em;
  }

  .changelog-container {
    width: 80%;
  }
}